body { 
    margin: 0;
    font-size: px;
    font-family: Arial, Helvetica, sans-serif;
}

#grid_container {
    display: grid;
    grid-template-areas: 
        'header header header'
        'home home home'
        'player_input player_input player_input'
        'results results results'
    ;
    grid-template-columns: 33% 33% 33%;
}

#navigation_bar {
    grid-area: nav;
    background-color: #7E2E84;
    color: #CCF5AC;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
}

a {
    color: #CCF5AC;
    text-decoration: none;
}

li {
    display: flex;
    flex-flow: row wrap;
}

footer {
    padding: 16px;
    background-color: #7E2E84;
    color: #CCF5AC;
    font-weight: bold;
    text-align: center;
    grid-area: footer;
}

#home {
    grid-area: home;
    justify-content: center;
    text-align: center;
    background-color: #F9F5E3;
}

#player_input {
    grid-area: player_input;
    text-align: center;
    background-color: #F9F5E3;
    padding: 15px;
}

#results {
    grid-area: results;
    text-align: center;
    display: grid;
    grid-template-areas: 
        'player_1 vs player_2'
        'outcome outcome outcome'
    ;
    grid-template-columns: 33% 33% 33%;
    background-color: #F9F5E3;
}

#vs {
    justify-content: center;
    padding-top: 25%;
}

#outcome {
    font-size: 40px;
}

#player_1_image {
    position: relative;
    animation-name: p1_animation;
    animation-duration: 0.5s;
    animation-direction: reverse;  
}

@keyframes p1_animation {
    0%   {left:0px; top:0px;}
    100%  {left:-600px; top:0px;}
}

#player_2_image {
    position: relative;
    animation-name: p2_animation;
    animation-duration: 1s;
    animation-direction: reverse;
}

@keyframes p2_animation {
    0%   {left:0px; top:0px;}
    75%   {right:-600px; top:0px;}
    100%  {right:-600px; top:0px;}
}
